/* Скрытый сайдбар */
.hidedSidebar > aside {
	width: 2.5rem;
	flex-grow: 0;

	> nav > div:first-child {
		opacity: 0;
		transition: opacity 0.35s;
	}
}

.hidedSidebar > div {
	width: 100%;
}

/* Показанный сайдбар */
.showedSidebar > aside {
	width: 13rem;
}

.initialSidebar > aside {
	transition: width 0.35s;
}
